@{
    ViewData["Title"] = "Index";
}

<script src="~/web-components/ufe-payment-services.min.js?v=2"></script>

<div class="container-fluid">
    <div class="row">
        <ufe-payment-services></ufe-payment-services>
    </div>
</div>